@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common style */
* {
    box-sizing: border-box;
}
.wrap {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.hide {
    display: none !important;
}

/* header style */
header {
    /* background: orange; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 20px;
    /* opacity: 0.3; */
}
header .inner-header {
    /* background: tomato; */
    width: 92%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #fff;
    font-weight: 700;
}
header .inner-header .logo {
    /* border: 3px solid blue; */
    flex: 1;
}
header .inner-header .logo img {
    height: 60px;
}
header .inner-header .intro-text {
    /* border: 3px solid greenyellow; */
    flex: 4;
    margin-left: 40px;
    text-transform: uppercase;
}
header .inner-header .menu-open {
    /* border: 3px solid violet; */
    flex: 1;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}   
header .gnb {
    background: #000;
    color: #666;
    font-size: 40px;
    padding: 70px 100px;

    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;

    display: flex;
    flex-direction: row-reverse;

    transition: 0.6s;
}
header .gnb .close {
    display: block;
    color: #fff;
    /* order: 1; */
}
header .gnb ul {
    margin-right: 200px;
}
header .gnb ul li {
    font-weight: 700;
    line-height: 1.7;
}
header .gnb ul li:hover,
header .gnb ul li.active
{
    color: #fff;
}


/* section visual style */
section.visual .slide li {
    /* border: 4px solid blue; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
section.visual .slide li img {
    width: 100%;
    position: absolute;
    top: -50px;
    /* opacity: 0.2; */
}
section.visual .slide li .txt {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    z-index: 100;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}
section.visual .slide li .txt h3 {
    margin: 30px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}

section.visual .slide li .scroll {
    /* background: orange; */
    position: absolute;
    left: 50px;
    bottom: 10%;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    transform: rotate(-90deg);
}


/* section contents style */
section.contents {
    background: #1b1b1b;
    color: #fff;
    padding: 120px 0;
}
section.contents .main-text {
    /* background: orange; */
    width: 80%;
    margin: 0 auto 100px;
    font-size: 25px;

    display: flex;
    /* justify-content: space-between; */
    position: relative;
}
section.contents .main-text::before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffec03;
    position: absolute;
    left: 70px;
    top: 100px;
}
section.contents .main-text::after {
    content: 'â€';
    font-size: 300px;
    position: absolute;
    left: 0px;
    top: 100px;
}

section.contents .main-text h3 {
    /* border: 3px solid red; */
    font-weight: 700;
    flex: 1;
}
section.contents .main-text p {
    /* border: 3px solid blue; */
    font-size: 23px;
    line-height: 1.4;
    flex: 2;
}
section.contents .main-text p span {
    display: block;
    margin-top: 30px;
    color: #999;
    font-size: 20px;
}


/* section.contents .project */
section.contents .project {
    color: #fff;
    /* background: orange; */
    padding: 100px 0;
}
section.contents .project .top {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
section.contents .project h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 50px;
}
section.contents .project .animate {
    width: 90%;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}
section.contents .project .animate li {
    width: 24%;
    height: 400px;
    border: 4px solid #fff;
    overflow: hidden;
    position: relative;
}
section.contents .project .animate li::after {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}
section.contents .project .animate li img {
    width: 100%;
}
section.contents .project .animate li .name {
    /* display: none; */
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    /* background: #000; */
    position: absolute;
    top: 85%;
    right: 10%;
    z-index: 50;
    transform: translate(0,100%);
    opacity: 0;
    transition: 0.6s;
}
section.contents .project .animate li .name h3 {
    font-weight: 400;
}
section.contents .project .animate li:hover::after {
    width: 100%;
    /* transform: translate(0,0); */
}
section.contents .project .animate li:hover .name {
    /* display: block; */
    transform: translate(0,0);
    opacity: 1;
}


/* section.contents > .partner */
section.contents .partner {
    /* background: orange; */
    width: 80%;
    margin: 170px auto 100px;
}
section.contents .partner h3 {
    font-size: 17px;
    margin-bottom: 80px;
}
section.contents .partner ul {
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
}
section.contents .partner ul li {
    /* border: 4px solid white; */
    width: 25%;
    margin-bottom: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}
section.contents .partner ul li img {
    opacity: 0.3;
    transition: 0.4s;
}
section.contents .partner ul li img:hover {
    opacity: 1;
}


/* section.contents .contact */

section.contents .contact {
    /* width: 100%; */
    height: 100vh;
    background: url(../img/contact.jpg) no-repeat center/cover;
}
section.contents .contact .inner {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
section.contents .contact .inner h3 {
    margin-bottom: 50px;
}
section.contents .contact .inner .tel {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
}
section.contents .contact .inner p {
    line-height: 1.7;
}

/* footer style */
footer {
    background: #000;
    color: #bbb;
}
footer ul {
    width: 80%;
    /* height: 0px; */
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
footer ul li:nth-child(2) {
    color: #ddd;
}
footer ul li span {
    /* display: block; */
    line-height: 2;
    color: #bbb;
    padding-right: 10px;
}
footer a.go-top {
    width: 60px;
    height: 60px;
    /* border: 3px solid white; */
    position: fixed;
    bottom: 60px;
    right: 80px;
}
footer a.go-top .lnr {
    color: #fff;
    font-size: 60px;
    /* font-weight: 700; */
    z-index: 500;
}